<div id="view_postPop" class="popup animated hide">
  <div class="popup-overlay"></div>
  <div class="popup-body row">
    <div class="close-area"></div>
    <div class="container">
      <div class="card">
        <div class="popup-header cyan center center-align">
          View Post
          <span class="close-btn">
                <i class="icon ion-close-round x2"></i>
            </span>
        </div>
        <div class="popup-content row center-align">
          <div class="card content-card">
            <div class="card-image">
              <img id="postImageOnViewPop" src="/images/ted13b.jpg" alt="" class="responsive-img">
            </div>
            <div class="blog-post-meta">
              Category: <span id="postLabelOnViewPop" class="label postLabel"></span>
              <span class="post-date right">Post date: <span id="postCreationDateOnViewPop">...</span></span>
            </div>
            <div class="card-content">
              <span class="card-title postTitle"><u id="postTitleOnViewPop">...</u></span>
              <br>
              <p class="fullPost" id="postfullOnViewPop"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="edit_postPop" class="popup animated hide">
  <div class="popup-overlay"></div>
  <div class="popup-body row">
    <div class="close-area"></div>
    <div class="container">
      <div class="card">
        <div class="popup-header cyan center center-align">
          Edit Post
          <span class="close-btn">
                <i class="icon ion-close-round x2"></i>
            </span>
        </div>
        <div class="popup-content row center-align">
          <div class="card">
            <h4>Hello</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
