<head>
  <title>Admin - Coloured.com.ng</title>

  <meta charset="UTF-8">
  <meta name="keyword" content="Coloured.com.ng, Feminists Rising, Africa, Law, Feminism, Ohotu Ogbeche Margaret">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/admin.css">
  <script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=bduc74jbx081845aq82esovf0y5q7p0gt8klcpewb46i7ygm'></script>
</head>