<div class="container">
    <section class="featured-posts row no-margin-bottom">
        <h1 class="section-heading">Featured Posts</h1>
        {{#each featured}}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{media.url}}" class="img-responsive">
                    <a href="/posts/{{title}}" class="card-title">{{title}}</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{!--<div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="/images/ted13b.jpg" class="img-responsive">
                    <a href="./post-image.html" class="card-title">TEDx So long after a african feminists awakening</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="/images/afro222.jpg" class="img-responsive">
                    <a href="./post-image.html" class="card-title">Afropolitanism: It&rsquo;s relevance and impact on gender equality and human right</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="/images/blackgirl232.jpg" class="img-responsive">
                    <a href="./post-image.html" class="card-title">The uniquness and superiority of the black feminine skin</a>
                </div>
            </div>
        </div>--}}
    </section>
</div>